{{ define "title" }}

    <div class="container">
        <div class="content-center">
        <h1 class="title">{{ .Title }}</h1>
        <!--<div class="text-center">
            {{with .Params.description }} {{ . | safeHTML }} {{ end }}
        </div>-->
        </div>
    </div>

{{ end }}



{{ define "body" }}

    <style>
        .clickable-container {
            border-radius: .5rem;
            cursor: pointer;
        }

        .clickable-container:hover {
            transition: .1s ease;
            box-shadow: 0px 5px 25px 0 rgba(0, 0, 0, 0.1);
            transform: scale(1.01);
        }
        .clickable-container:hover > img {
            transition: .1s ease;
            opacity: 1;
        }

        .icon-over-image {
            position: absolute;
            bottom: 5%;
            right:5%;
            font-size: 1.6em;
            color: black;
            border-radius: 500px;
            background-color: rgba(216, 216, 216, 0.4);
            padding: 0.5em;
        }
    </style>


    {{ partial "contact-us-buttons" . }}
        

    <div class="container mb-5">
        <h3 class="title text-center">
                {{ .Params.section_title }}
        </h3>
        <!--<div class="separator separator-primary"></div>-->
    </div>
    
    <div class="text-center">
        <div class="row justify-content-center">
            {{ range $obra_index, $obra := (where .Site.RegularPages "Section" "portfolio") }}
                <div class="col-md-4 mb-5">
                    <div class="clickable-container" style="display: inline-block;" data-toggle="modal" data-target="#modal_{{ $obra_index }}">
                        <div style="position: relative;">
                            <img src="{{range last 1 .Params.images }} {{ .|absURL }} {{end}}" alt="{{ $obra.Params.title }} em {{ $obra.Params.location}}" class="rounded img-fluid img-raised">
                            <i class="now-ui-icons gestures_tap-01 icon-over-image"></i>
                        </div>
                        <div class="text-wrapper">
                            <h4 class="title">{{ .Title }} - {{ .Params.location }}</h4>
                            <p class="category text-primary"> {{ .Params.date_to_show }} </p>
                            <p class="description" style="padding: 0px 15px;"> {{ .Params.text }} </p>
                        </div>
                        <div class="separator separator-primary mt-4"></div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>

    
    <!-- Modals for photos viewing-->

    {{range $obra_index, $obra := (where .Site.RegularPages "Section" "portfolio") }}
        <div class="modal fade justify-content-center" id="modal_{{$obra_index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-portfolio" style="
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate3D(-50%, -50%, 0);
                transform: translate3D(-50%, -50%, 0);
                -moz-transform: translate3D(-50%, -50%, 0);
                -webkit-transform: translate3D(-50%, -50%, 0);">
                <div class="modal-content modal-content-portfolio justify-content-center">
                    <div class="modal-header justify-content-center">
                        <h5 class="title title-up modal-portfolio-photo-title" style="color:rgba(255, 255, 255, 0.8); " >{{ .Title }} - {{ .Params.location }}</h5>
                        <a class="close" data-dismiss="modal" aria-hidden="true" onmouseover="this.style.cursor='pointer'" style="position: absolute; right: 0;">
                            <i class="now-ui-icons ui-1_simple-remove" style="color: rgb(225, 225, 225);"></i>
                        </a>
                    </div>
                    <div class="modal-body modal-body-portfolio">
                        <div id="carouselObra_{{$obra_index}}" class="carousel slide" data-interval="false" style="display: block;">
                            <ol class="carousel-indicators">
                                {{ range $image_index, $image := .Params.images}}
                                    {{ $active := "" }}
                                    {{if eq $image_index 0 }}
                                        {{ $active = "active" }}
                                    {{ end }}
                                    <li data-target="#carouselObra_{{$obra_index}}" data-slide-to="{{ $image_index }}" class="{{ $active }}"></li>
                                {{ end }}
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                {{ range $image_index, $image := .Params.images}}
                                    {{ $active := "" }}
                                    {{if eq $image_index 0 }}
                                        {{ $active = "active" }}
                                    {{ end }}
                                    <div class="carousel-item {{ $active }}">
                                        <img class="d-block modal-carousel-image" src="{{.|absURL}}" alt="{{ $obra.Params.title }} em {{ $obra.Params.location}} {{ $image_index }}">
                                        <div class="carousel-caption d-none d-md-block">
                                            <!--<h5>text</h5>-->
                                        </div>
                                    </div>
                                {{ end }}
                            </div>
                            <a class="carousel-control-prev" href="#carouselObra_{{$obra_index}}" role="button" data-slide="prev">
                                <i class="now-ui-icons arrows-1_minimal-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#carouselObra_{{$obra_index}}" role="button" data-slide="next">
                                <i class="now-ui-icons arrows-1_minimal-right"></i>
                            </a>
                        </div>
                    </div>
                    <!--<div class="modal-header justify-content-center">
                        <h4 class="title title-up modal-portfolio-photo-title" style="color:rgba(255, 255, 255, 1);" >{{ .Params.title }}</h4>
                        
                    </div>-->
                </div>
            </div>
        </div>
    {{ end }}

{{ end }}
