{{ define "title" }}

    <div class="container">
        <div class="content-center">
        <h1 class="title">{{ .Title }}</h1>
        <!--<div class="text-center">
            {{with .Params.description }} {{ . | safeHTML }} {{ end }}
        </div>-->
        </div>
    </div>

{{ end }}



{{ define "body" }}

    <style>
        .Clickable {
            cursor: pointer;
        }
    </style>

     
    <div class="container">
        <h3 class="title text-center">
                {{ .Params.section_title }}
        </h3>
        <!--<div class="separator separator-primary"></div>-->
    </div>
    

    <div class="section">
        <div class="container">
            <div class="text-center">
                <div class="row">
                    {{ range $obra_index, $obra := (where .Site.RegularPages "Section" "portfolio") }}
                        <div class="col-md-4">
                            <div class="Clickable" style="display: inline-block;" data-toggle="modal" data-target="#modal_{{ $obra_index }}">
                                <img src="{{range first 1 .Params.images }} {{ .|absURL }} {{end}}" alt="Thumbnail Image" class="rounded img-fluid img-raised">
                                <h4 class="title">{{.Params.title}}</h4>
                                <p class="category text-primary"> {{ .Params.date_to_show }} </p>
                                <p class="description"> {{ .Params.text }} </p>
                            </div>
                            <div class="separator separator-primary"></div>
                            <div class="space-50"></div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>


    <!-- Modals for photos viewing-->

    {{range $obra_index, $obra := (where .Site.RegularPages "Section" "portfolio") }}
        <div class="modal fade" id="modal_{{$obra_index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="max-width: 950px; margin-top: 100px;">
                <div class="modal-content justify-content-center">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                        <!--TODO color of modal title-->
                        <h4 class="title title-up" style="color:rgb(255, 255, 255);" >{{ .Params.title }}</h4>
                    </div>
                    <div class="modal-body">
                        <div id="carouselObra_{{$obra_index}}" class="carousel slide" data-interval="false">
                            <ol class="carousel-indicators">
                                {{ range $image_index, $image := .Params.images}}
                                    {{ $active := "" }}
                                    {{if eq $image_index 0 }}
                                        {{ $active = "active" }}
                                    {{ end }}
                                    <li data-target="#carouselObra_{{$obra_index}}" data-slide-to="{{ $image_index }}" class="{{ $active }}"></li>
                                {{ end }}
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                {{ range $image_index, $image := .Params.images}}
                                    {{ $active := "" }}
                                    {{if eq $image_index 0 }}
                                        {{ $active = "active" }}
                                    {{ end }}
                                    <div class="carousel-item {{ $active }}">
                                        <img class="d-block" src="{{.|absURL}}" alt="Foto_{{ $image_index }}">
                                        <div class="carousel-caption d-none d-md-block">
                                            <!--<h5>text</h5>-->
                                        </div>
                                    </div>
                                {{ end }}
                            </div>
                            <a class="carousel-control-prev" href="#carouselObra_{{$obra_index}}" role="button" data-slide="prev">
                                <i class="now-ui-icons arrows-1_minimal-left"></i>
                            </a>
                            <a class="carousel-control-next" href="#carouselObra_{{$obra_index}}" role="button" data-slide="next">
                                <i class="now-ui-icons arrows-1_minimal-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}

{{ end }}