{{ define "title" }}

<div class="container">
    <div class="content-center">
    <h1 class="title">{{ .Title }}</h1>
    <!--<div class="text-center">
        {{with .Params.description }} {{ . | safeHTML }} {{ end }}
    </div>-->
    </div>
</div>

{{ end }}



{{ define "body" }}
    
    {{ partial "contact-us-buttons" . }}

    {{ if $services_intro := .Params.intro }}
        <h5 class="description">{{ $services_intro }}</h5>
        <div class="separator separator-primary mb-5"></div>
    {{ end }}

    <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
            <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    {{ range $service_index, $service := (where .Site.RegularPages "Section" "servicos") }}
                        {{ $active := "" }}
                        {{if eq $service_index 0 }}
                            {{ $active = "active" }}
                        {{ end }}
                        <li class="nav-item mb-3 mt-3"}}>
                            <a class="nav-link {{ $active }} btn" data-toggle="tab" href="#serviceTab_{{ $service_index }}" role="tablist">
                                <h5 class="title">{{.Params.section_button_name }}</h5>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        </div>

        <!-- Tab panes -->
        <div class="tab-content gallery">
            {{ range $service_index, $service := (where .Site.RegularPages "Section" "servicos") }}
                {{ $active := "" }}
                {{if eq $service_index 0 }}
                    {{ $active = "active" }}
                {{ end }}
                <div class="tab-pane {{ $active }}" id="serviceTab_{{ $service_index}}" role="tabpanel">
                    <!--<h3 class="title">{{ .Params.title }}</h3>-->
                    <h5 class="description"> {{ .Params.description }} </h5>
                    <div class="col-md-10 ml-auto mr-auto">
                        <div class="row collections">
                            <div class="col-md-6">
                                {{ range $image_index, $image := .Params.images }}
                                    {{ if eq (mod $image_index 2) 0}}
                                        <img src="{{.|absURL}}" alt="" class="img-raised">
                                    {{ end }}
                                {{ end }}
                            </div>
                            <div class="col-md-6">
                                {{ range $image_index, $image := .Params.images }}
                                    {{ if eq (mod $image_index 2) 1}}
                                        <img src="{{.|absURL}}" alt="" class="img-raised">
                                    {{ end }}
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>



{{ end }}