{{ define "title" }}

<div class="container">
    <div class="content-center">
    <h1 class="title">{{ .Parent.Title }}</h1>
    <!--<div class="text-center">
        {{with .Params.description }} {{ . | safeHTML }} {{ end }}
    </div>-->
    </div>
</div>

{{ end }}



{{ define "body" }}



    <style>
        .clickable-image {
            cursor: pointer;
        }

        .clickable-image:hover {
            transition: .1s ease;
            box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.3);
            transform: scale(1.02);
            opacity: 0.98;
        }
    </style>
    
    <div class="col-md-12 ml-auto mr-auto button-container-services">
        <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                {{ $currentSectionTitle := .Title }}
                {{ range $service_index, $service := (where .Site.RegularPages "Section" "servicos") }}
                    {{ $active := "" }}
                    {{if eq .Params.title $currentSectionTitle }}
                        {{ $active = "active" }}
                    {{ end }}
                    <li class="nav-item mb-1 mt-3"}}>
                        <a class="nav-link {{ $active }}" href="{{ .Permalink }}#{{ .Params.id }}_content">
                            <h5 class="title">{{.Params.section_button_name }}</h5>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>

    <div class="row pt-5"id="{{ .Params.id}}_content">
        <div>
            {{ $currentSectionTitle := .Params.title}}
            <h3 class="title mt-5">{{ $currentSectionTitle }}</h3>
            <h5 class="description"> {{ .Params.description }} </h5>

            <div class="separator separator-primary"></div>

            <div class="col-md-11 ml-auto mr-auto">
                <div class="row collections">
                    <div class="col-md-6">
                        {{ range $image_index, $image := .Params.images }}
                            {{ if eq (mod $image_index 2) 0}}
                                <img src="{{.|absURL}}" alt="Serviço de {{ $currentSectionTitle }} {{ $image_index }}" class="img-raised clickable-image" data-toggle="modal" data-target="#modal_img{{$image_index}}">
                            {{ end }}
                        {{ end }}
                    </div>
                    <div class="col-md-6">
                        {{ range $image_index, $image := .Params.images }}
                            {{ if eq (mod $image_index 2) 1}}
                                <img src="{{.|absURL}}" alt="Serviço de {{ $currentSectionTitle }} {{ $image_index }}" class="img-raised clickable-image" data-toggle="modal" data-target="#modal_img{{$image_index}}">
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="col-md-12 ml-auto mr-auto" style="text-align: center;">
            <a href="#top" class="btn btn-icon btn-primary btn-lg" style="border-radius: 15px;">
                <i class='now-ui-icons arrows-1_minimal-up btn_round'></i>
              </a>
        </div>-->

    </div>

    <div class="separator separator-primary"></div>
    <div class="col-md-12 ml-auto mr-auto mt-5">
        <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                {{ $currentSectionTitle := .Title }}
                {{ range $service_index, $service := (where .Site.RegularPages "Section" "servicos") }}
                    {{ $active := "" }}
                    {{if eq .Params.title $currentSectionTitle }}
                        {{ $active = "active" }}
                    {{ end }}
                    <li class="nav-item mb-1 mt-3"}}>
                        <a class="nav-link nav-link-highlight {{ $active }}" href="{{ .Permalink }}#{{ .Params.id }}_content">
                            <h5 class="title">{{.Params.section_button_name }}</h5>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>


    <!-- Modals for photos viewing-->
    {{ $serviceTitle := .Params.title }}
    {{ $serviceImages := .Params.images }}
        {{range $image_index, $image := $serviceImages }}
            <div class="modal fade justify-content-center" id="modal_img{{$image_index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-portfolio" style="
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -ms-transform: translate3D(-50%, -50%, 0);
                    transform: translate3D(-50%, -50%, 0);
                    -moz-transform: translate3D(-50%, -50%, 0);
                    -webkit-transform: translate3D(-50%, -50%, 0);">
                    <div class="modal-content modal-content-portfolio justify-content-center">
                        <div class="modal-header justify-content-center">
                            <h5 class="title title-up modal-portfolio-photo-title" style="color:rgba(255, 255, 255, 0); " >{{ $serviceTitle }}</h5>
                            <a class="close" data-dismiss="modal" aria-hidden="true" onmouseover="this.style.cursor='pointer'" style="position: absolute; right: 0;">
                                <i class="now-ui-icons ui-1_simple-remove" style="color: rgb(225, 225, 225);"></i>
                            </a>
                        </div>
                        <div class="modal-body">
                            <img class="d-block modal-carousel-image" src="{{.|absURL}}" alt="Serviço de {{ $currentSectionTitle }} {{ $image_index }}">
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    
{{ end }}