<!--My baseof that override the baseof of the theme-->
<!doctype html>
<html lang="pt, en">
  
  {{partial "head" . }}
  
  <body class='{{ .Params.class | default "default-section-page" }} sidebar-collapse'>
    
    {{ partial "nav" . }}
    
    <div class='{{ .Params.wrapper | default "wrapper" }}'>
      <div class='page-header {{ .Params.headerstyle | default "page-header-small"}}'> <!--filter-color="{{ .Param "tint" | default "orange" }}"-->
        <!--Marco modified-->
        <div id="header-secondary-filter" style="z-index: 1; height: 100%; width:100%; position:absolute; object-fit:cover; background-color: rgba(15, 2, 0, 0.7);"></div>
        <div class="page-header-image" data-parallax="true" style="background-image: url('{{ (.Param "background") | default site.Params.default_header_background }}');"></div>
        
        {{ block "title" . }}
        {{ end }}
      
      </div>
      
      <div class='{{ .Params.section | default "section"}}'>
        <div class="container">
          
          {{ block "body" . }}
          {{ end }}
        
        </div>
      </div>
      
      {{ partial "footer" . }}
    
    </div>
  </body>
  
  {{partial "javascript" . }}
  
</html>