{{ partial "footer-contacts" . }}

<footer class="footer" data-background-color="black">
  <div class="container">
    
    {{ $path := .Permalink }}
    {{ $numItems := len .Site.Menus.footer }}

    <nav style="float: none; width: 100%;">
	    <ul style="position: relative;">
	    {{ range $itemIndex, $item := .Site.Menus.footer }}
          {{ if eq .KeyName "footerHomeButton" }}
            <li style="position: absolute; right: 0; bottom: 0;">
              <a href="{{ $path }}{{ .URL}}" class="btn btn-icon btn-round btn-primary btn-lg">
                {{ .Pre }}
              </a>
          {{ else if eq .KeyName "alvara"}}
            <li> <a>{{ .Pre }} Alvará de construção: {{ site.Data.info.alvara }}</a>
          {{ else }}
            <li> <a>{{ .Pre }} {{ .Name }}</a>
          {{ end }}
        </li>

        {{ if lt $itemIndex (sub $numItems 2) }}
          |
        {{ end }}
      {{ end }}
      </ul>
    </nav>
  </div>
</footer>