{{ partial "footer-contacts" . }}

<footer class="footer" data-background-color="black">
  <div class="container">
    
    {{ $path := .Permalink }}
    {{ $numItems := len .Site.Menus.footer }}

    <nav style="float: none; width: 100%;">
	    <ul style="position: relative;">
	    {{ range $itemIndex, $item := .Site.Menus.footer }}
          {{ if eq .KeyName "footerHomeButton" }}
            <li style="float: right; cursor: pointer;">
              <a class="btn-icon btn-round btn-primary" onclick='window.scrollTo(0, 0);'>
                {{ .Pre }}
              </a>
          {{ else if eq .KeyName "alvara"}}
            <li> <a>{{ .Pre }} Alvará de construção: {{ site.Data.info.alvara }}</a>
          {{ else if eq .KeyName "copyright"}}
              <li> <a>{{ .Pre }} {{ replace .Name "{now_year}" now.Year }}</a></li>
          {{ else }}
            <li> <a>{{ .Pre }} {{ .Name }}</a>
          {{ end }}
        </li>

        {{ if lt $itemIndex (sub $numItems 2) }}
          |
        {{ end }}
      {{ end }}
      </ul>
    </nav>
  </div>
</footer>