{{ if (ne .RelPermalink "/contactos/") }}

    {{ range first 1 (where site.Pages "Section" "contactos")}}
        
        {{ if .Params.footer_enable }}

            <!--Contactos footer-->

            <div class="footer" id="contactos">
                <div class="container" style="text-align: center;">
                    <nav style="float: none; width: 100%;">
                        <ul class="row">
                            <li class="col-md-3 align-li-vertically">
                                <a>
                                    <i class='now-ui-icons location_pin color-orange'></i>
                                    {{ .Params.location }}
                                </a>
                            </li>
                            <li class="col-md-4 align-li-vertically">
                                <a href="mailto:{{ .Params.email }}">
                                    <i class='now-ui-icons ui-1_email-85 color-orange'></i>
                                    {{ .Params.email }}
                                </a>
                            </li>
                            <li class="col-md-3 align-li-vertically">
                                <a href="tel:+{{ .Params.mobile_country_code }}{{ .Params.mobile }}">
                                    <i class='fa fa-phone color-orange'></i>
                                    {{ .Params.mobile }}
                                </a>
                            </li>
                            <li class="col-md-2 color-orange">
                                <a href="contactos" class="btn btn-primary btn-simple btn-round" style="margin-bottom: 0px; margin-top: 0px;">
                                    <i class='now-ui-icons ui-2_chat-round'></i>
                                    Contacte-nos
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        {{ end }}
    {{ end }}
{{ end }}
