{{ range first 1 (where .Pages "Section" "contacts")}}
{{ if .Params.homepage_enable }}

<!--Contactos-->
<div class="section " id="contacts">
    <div class="container">
        <h2 class="title text-center">{{ .Params.homepage_title }}</h2>
        <div class="space-50"></div>
        <div class="row">
            <!--Contact info section-->
            <div>
                <h5>
                    Telefone - <b>962757100</b>
                </h5>
                <h5>
                    Email - <b>cofragemsilva@hotmail.com</b>
                </h5>
            </div>
        </div>
    </div>
</div>

{{ end }}
{{ end }}