<style>
    .clickable-container {
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        /*border: 8px solid #f96432c2;*/
        border-radius: 0.5rem;
        cursor: pointer;
    }

    /*.clickable-container img {
        box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.2);
    }

    .clickable-container:hover {
        transition: .1s ease;
        box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.2);
        transform: scale(1.01);
    }
    .clickable-container:hover div > img {
        transition: .1s ease;
        opacity: 1;
    }*/
</style>


{{range first 1 (where .Pages "Section" "servicos") }}
{{ if .Params.homepage_enable }}

<!--Servicos-->


<div class="section" id="services_homepage">
    <!--Shape services backgroun #TODO or delete-->
    <!--<div style="position: absolute; z-index: 100; border-top: 1000px solid #555; border-left: 25px solid transparent; border-right: 25px solid transparent; height: 0; width: 50%;"></div>-->
    <div class="container">
        <h2 class="title text-center mb-5">{{ .Params.homepage_title }}</h2>

        <div class="text-center">

            {{ $serviceLinkName := "Ver mais" }}
            {{ $numServices := len (where site.RegularPages "Section" "servicos") }}
            {{ range $service_index, $service := (where site.RegularPages "Section" "servicos") }}
                {{ if ne (mod $service_index 2) 1 }}

                    <div class="row justify-content-center clickable-container darker-background" onclick="location.href='{{.RelPermalink}}/#{{.Params.id}}_content'">
                        <div class="col-md-5">
                            <img src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="Thumbnail Image"
                                class="rounded img-fluid img-raised">
                            <br>
                            <br>
                        </div>

                        <div class="col-md-0"></div>
                        <!--use columns from the bootstrap grid of 12, if want to add space between image and text (col-md-1 instead of col-md-0) -->

                        <div class="col-md-6 text-md-left">
                            <h3 class="title">{{ .Title | markdownify }}</h3>
                            <!--<p class="category text-primary"></p>-->
                            <p class="description">
                                {{ .Params.description }}
                            </p>
                            {{ if .Params.homepage_link_enable }}
                                <a class="btn btn-primary btn-round btn-lg mt-5 float-md-right" type="" href="{{.RelPermalink}}/#{{.Params.id}}_content">{{ $serviceLinkName }}</a>
                            {{ end }}
                        </div>
                    </div>

                {{ else }}

                    <div class="row justify-content-center clickable-container darker-background" onclick="location.href='{{.RelPermalink}}/#{{.Params.id}}_content'">
                        <div class="col-md-7 text-md-right order-md-1 order-2">
                            <h3 class="title">{{ .Title | markdownify }}</h3>
                            <!--<p class="category text-primary"></p>-->
                            <p class="description">
                                {{ .Params.description }}
                            </p>
                            <div style="height: -webkit-fill-available; height:min-content;"></div>
                            {{ if .Params.homepage_link_enable }}
                                <a class="btn btn-primary btn-round btn-lg mt-5 float-md-left" type="" href="{{.RelPermalink}}/#{{.Params.id}}_content">{{ $serviceLinkName }}</a>
                            {{ end }}
                        </div>

                        <div class="col-md-0 order-md-2"></div>
                        <!--use columns from the bootstrap grid of 12, if want to add space between image and text (col-md-1 instead of col-md-0) -->

                        <div class="col-md-4 order-md-3 order-1">
                            <img src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="Thumbnail Image"
                                class="rounded img-fluid img-raised">
                            <br>
                            <br>
                        </div>
                    </div>

                {{ end }}

                {{ if lt $service_index (sub $numServices 1) }}
                    <div class="separator separator-primary"></div>
                {{ end }}

            {{ end }}

        </div>
    </div>
</div>

{{ end }}
{{ end }}