<!-- Canonical SEO -->
<link rel="canonical" href="{{ site.BaseURL }}" />
<!--  Social tags      #TODO add this texted through the config file or data-->
<title>{{.Title}} - {{site.Params.name}}</title>
<meta name="keywords" content="{{ site.Params.keywords }}">
<meta name="description" content="{{default site.Params.description}}">
<meta name="language" content="{{site.LanguageCode}}">
<meta http-equiv="content-language" content="{{site.LanguageCode}}">
<meta name="author" content="{{ site.Params.authorName }}">
<meta name="robots" content="index, follow">
<!--<meta name="abstract" content="">-->
<!--<meta name="revisit-after" content="5 days">-->

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ .Title }} - {{ site.Params.name }}">
<meta itemprop="description" content="{{ .Description | default site.Params.description}}">
<!--<meta itemprop="image" content="{{ site.BaseURL }}/media/headers/headerDefault.jpg">--> <!--TODO take snapshot-->

    
    <!-- Open Graph data - Facebook -->
<!--
    <meta property="fb:app_id" content="">-->
    <meta property="og:title" content="{{.Title}} - {{ site.Params.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.BaseURL }}" />
    <!--<meta property="og:image" content="{{ site.BaseURL }}/media/headers/headerDefault.jpg" />--> <!--TODO take snapshot-->
    <meta property="og:description" content="{{default site.Params.description}}" />
    <meta property="og:site_name" content="{{site.Title}}" />
