<style>
  .menu-el{
    font-size: 1em;
    font-weight: 400;
  }  
  .menu-single:hover{
    transition: .1s ease;
    border-radius: 1.5px;
    background-color: rgba(255, 255, 255, 0.3);
  }
</style>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="50">
  <div class="container">
    <div class="navbar-translate">
      <a style="font-family:Verdana, Geneva, Tahoma, sans-serif;" class="navbar-brand" href="{{ .Site.BaseURL | relURL }}" rel="tooltip" title="" data-placement="bottom" target="_self"> <!--_blank to _self to stop opening another tab on Title click on-->
        {{.Site.Title}}
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image='{{ "img/blurred-image-1.jpg" | relURL }}'>
      <ul class="navbar-nav  ml-auto">
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="nav-item dropdown menu-el">
              <a href="#" class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" style="text-align: center; text-transform:capitalize; font-size:1em">
                {{ .Pre }} <span>{{ .Name }}</span>
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-header menu-el">
                  <span>{{ .Name }}</span>
                </a>
                {{ range .Children }}
                  <a class="dropdown-item menu-el" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                    {{ .Pre }}
                    <span>{{ .Name }}</span>
                  </a>
                {{end}}
              </div>
            </li>
          {{ else }}
            <li class="nav-item menu-single">
              <!--Marco edit-->
              {{ if eq .KeyName "menuHighlight"}}
                <a class="nav-link btn btn-neutral" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                  {{ .Pre }}
                  <span>{{ .Name }}</span>
                </a>
              {{ else }}
                <a class="nav-link btn btn-link btn-neutral menu-el" href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                  {{ .Pre }}
                  <span>{{ .Name }}</span>
                </a>
              {{ end }}
            </li>
          {{ end }}
          <hr>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->