<!--baseof template of the Homepage _index.html-->
<!doctype html>
<html id="top" lang="pt, en" style="scroll-behavior: smooth;"> <!--smooth scroll in the home page-->
  
  {{partial "head" . }}
  
  <body class='{{ .Params.class | default "landing-page" }} sidebar-collapse'>
    
    {{ partial "nav" . }}

    <div class='{{ .Params.wrapper | default "wrapper" }}'>
      <div class='page-header {{ .Params.headerstyle | default "page-header-small"}}'>
        <div class="page-header-image" data-parallax="true" style="background-image: url('{{ (.Param "background") | default site.Params.default_header_background }}');"> <!--Background image behind video should be first frame of video-->
          <div id="header-filter" style="z-index: 1;height: 100%; width: 100%; position: absolute; object-fit:cover; background-color:rgba(0,0,0,0.3);"></div>
          <video class="header-video" muted autoplay loop>
            <source src="/media/homepageVideo.mp4" type="video/mp4">
          </video>
        </div>

        {{ block "title" . }}
        {{ end }}
        
      </div>
    </div>
    
    <div id="homepageBody" class="{{ .Params.section | default "section"}}" style="padding-bottom: 0px; z-index: 2;">
      
      {{ block "body" . }}
      {{ end }}
    </div>
    
    {{ partial "footer" . }}
    
  </body>

{{partial "javascript" . }}

</html>
