<!--baseof template of the Homepage _index.html-->
<!doctype html>
<html lang="en">
  {{partial "head" . }}
  
	<body class="{{ .Params.class | default "profile-page" }} sidebar-collapse">
    {{ partial "nav" . }}
    
    <div class="{{ .Params.wrapper | default "wrapper" }}">
        <div class="page-header {{ .Params.headerstyle | default "page-header-small"}}"> <!--TODO filter-color="{{ .Param "tint" | default "orange" }}">-->
            <div class="page-header-image" data-parallax="true" style="background-image: url('{{ (.Param "background")  | (default "/img/headers/headerObra.jpg" | absURL) }}');">
              <div id="header-filter" style="z-index: 2; height: 100%; width: 100%; position: absolute; object-fit:cover; background-color:rgba(0,0,0,.65);"></div>
              <video style="z-index: 1; height: 100%; width:100%; position:absolute; object-fit:cover;" autoplay loop>
                <source src="/video/homepageVideo.mp4" type="video/mp4">
              </video>
              
              <div style="z-index: 3; position: absolute; text-align: center; left: 0; right: 0; bottom: 10%; text-shadow: 0 0 50px #000000;">
                <h1 class="title text-center" style="color:white; font-size: 80px;;">Cofragem Silva</h1>
                <h5 style="font-size: 20px; color: white; margin-left: 15%; margin-right: 15%;">Se quisermos escrever uma frase aqui nesta parte. Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Fugit, excepturi. At recusandae sit perferendis autem,iste tempora nostrum numquam sapiente!
                </h5>
                <div class="space-50"></div>
                <div class="space-50"></div>
                <br>
                <a class="btn btn-primary btn-round" type="" href="#" style="font-size: 20px;">
                  <i class="now-ui-icons arrows-1_minimal-down"></i>
                  Desça e Explore
                </a>
                <!--<span class="badge badge-primary" style="font-size: 25px;">
                  <i class="now-ui-icons arrows-1_minimal-down"></i>
                  Desça e Explore
                </span>-->
              </div>
            </div>
            
            {{ block "title" . }}
            {{ end }}
            
        </div>
        <div class="{{ .Params.section | default "section"}}">
            <div class="container">
              
            {{ block "body" . }}
	          {{ end }}

            </div>
        </div>
      {{ partial "footer" . }}
    </div>
  </body>
{{partial "javascript" . }}
</html>
